extends layout

block content
  profile
    img#profile(src="/images/TerrenceKuiper.png")
  p My name is Terrence Kuiper and I am a Full Stack Web Developer.
  p This is a test..>>>

block stuff
  #footer
    h1= "My Stuff"
