doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="https://kit.fontawesome.com/7761726a7c.js" crossorigin="anonymous")

    script. 
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"

    script.
      function openNav() {
      document.getElementById("mySidenav").style.width = "35vw"
      document.getElementById("main").style.marginLeft = "35vw"
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)"
      document.getElementById("menu").style.visibility = "hidden"
      }


    script.
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
      document.body.style.backgroundColor = "white";
      document.getElementById("menu").style.visibility = "visible";
      }

    script.
      function dayMode() {
        console.log("IMAGE",document.body.style.backgroundImage);
        document.getElementById("body").style.backgroundImage="url(/images/dayMode.jpg)";
        document.getElementById("dayMode").style =  "border-style: inset; color:lightsteelblue";
        document.getElementById("nightMode").style = "border-style: outset";
        document.getElementById("switch").style = "background-color: lightsteelblue; border-color: lightsteelblue;";
 
      }

    script.
      function nightMode() {
        console.log("IMAGE",document.body.style.backgroundImage);
        document.getElementById("body").style.backgroundImage="url(/images/nightMode.jpg)";
        document.getElementById("dayMode").style = "border-style: outset";
        document.getElementById("nightMode").style =  "border-style: inset; color:#424242";
        document.getElementById("switch").style = "background-color: #424242; border-color: gainsboro";

      }

  body#body
    #main
      #navbar
        h1= title
        #switch
          i#dayMode.fad.fa-house-day(onclick="dayMode()")
          i#nightMode.fad.fa-house-night(onclick="nightMode()")
        i#menu.fad.fa-hamburger(onclick="openNav()")
      #mySidenav.sidenav
        i#close.fad.fa-times-hexagon.closebtn(onclick="closeNav()")
        
        a(href="/")#home Home 
          i.fad.fa-home.mi
        a(href="/about")#about About 
          i.fad.fa-id-card.mi
        a(href="/projects")#projects Projects 
          i.fad.fa-hammer.mi
        a(href="/history")#history History 
          i.fad.fa-history.mi
        a(href="/contact")#contact Contact 
          i.fad.fa-at.mi
      block content
  footer
    block stuff
