doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')

    script(src="https://kit.fontawesome.com/7761726a7c.js" )

    script(src="/javascripts/dayNight.js")
    
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
  
    script. 
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"

    script.
      function openNav() {
      document.getElementById("mySidenav").style.width = "35vw"
      document.getElementById("main").style.marginLeft = "35vw"
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)"
      document.getElementById("menu").style.visibility = "hidden"
      }


    script.
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
      document.body.style.backgroundColor = "white";
      document.getElementById("menu").style.visibility = "visible";
      }

    

  body#body
    #main
      #navbar
        h1.dayNight= title
        i#menu.fad.fa-hamburger(onclick="openNav()")
      #mySidenav.sidenav
        i#close.fad.fa-times-hexagon.closebtn(onclick="closeNav()")
        
        a(href="/")#home Home 
          i.fad.fa-home.mi
        a(href="/about")#about About 
          i.fad.fa-id-card.mi
        a(href="/projects")#projects Projects 
          i.fad.fa-hammer.mi
        a(href="/history")#history History 
          i.fad.fa-history.mi
        a(href="/contact")#contact Contact 
          i.fad.fa-at.mi

        utilities#switch
          i#dayMode.fad.fa-house-day(onclick="dayMode()")
          i#nightMode.fad.fa-house-night(onclick="nightMode()")
      block content


     
  footer
    block stuff
