body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#navbar {
  display: flex;
  justify-content: space-between;
}
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: saddlebrown;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  color: darkred;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

#home:hover {
  color: #2196f3;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

#mySidenav a {
  position: absolute; 
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 20vw;
  text-decoration: none; /* Remove underline */
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#home {
  display: flex;
  justify-content: space-between;
  top: 80px;
  background-color: hotpink;
}

#about {
  display: flex;
  justify-content: space-between;
  top: 140px;
  background-color: #4caf50;
}

#projects {
  display: flex;
  justify-content: space-between;
  top: 200px;
  background-color: #f44336; /* Red */
}

#history {
  display: flex;
  justify-content: space-between;
  top: 260px;
  background-color: #2196f3; /* Blue */
}

#contact {
  display: flex;
  justify-content: space-between;
  top: 320px;
  background-color: #555; /* Light Black */
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
